<form class="ui form imageform asd " style="margin-bottom: 10%;max-width:620px" id="depfor" action="/deposer"
    method="POST" enctype="multipart/form-data" autocomplete="on">
    <h1 class="head"><i class="tasks teal icon"></i>Déposer une annonce... </h1>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="two fields">
        <div class="field">
            <label for="NomUitilisateur"> <i class="user teal icon"></i>Nom d'utilisateur</label>


            <input name="NomUitilisateur" id="NomUitilisateur" value=" <%= user.NomUitilisateur %>"
                class="disabled field"></input>

        </div>
        <div class="field">

            <label for="Email"><i class="envelope open outline teal icon"></i>Email</label>

            <input class="disabled field" name="Email" id="Email" value=" <%= user.Email %>"></input>

        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="Adresse"> <i class="user teal icon"></i>Adresse</label>


            <input name="Adresse" id="Adresse" value=" <%= user.Adresse %>" class="disabled field"></input>

        </div>
        <div class="field">

            <label for="Ville"><i class="envelope open outline teal icon"></i>Ville</label>

            <input class="disabled field" name="Ville" id="Ville" value=" <%= user.Ville %>"></input>

        </div>
    </div>

    <div class="field">
        <label for="Pays"><i class="globe teal icon"></i>Pays</label>

        <input class="disabled field" name="Pays" id="Pays" value=" <%= user.Pays %>"></input>
    </div>
    <div class="field">
        <div class="ui fluid multiple search selection dropdown searchCategorie">
            <input name="Categories" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Catégories</div>
            <div class="menu">
                <% categories.forEach(element => { %>

                <div class="item" data-value="<%= element %>"><%= element %></div>
                <% }); %>

            </div>

        </div>
        <div class=" field">

            <div class="field">
                <label>Titre de l'annonce</label>
                <textarea name="Titre" id="Titre" type="text" rows="2"
                    placeholder="Saisissez le titre de votre annonce ici..."></textarea>
            </div>

            <div class="field">
                <label>Texte de l'annonce</label>
                <textarea name="Texte" id="Texte" type="text"
                    placeholder="Saisissez le texte de votre annonce ici..."></textarea>
            </div>


        </div>
        <div class="field">
            <div class="field">
                <div class="ui inverted  accordion">
                    <div class="title ">
                        <i class="dropdown  black icon"></i>
                        <span style="color:rgb(36, 182, 182);font-weight:1000;"><i class="file icon"></i> Ajoutez des
                            images...</span>
                    </div>
                    <div class="content ">
                        <table class="ui  teal  table ImageTable">

                            <tbody>
                                <tr>
                                    <td class="centered" colspan="4">
                                        <div class="field">

                                            <div class="file-upload">


                                                <div class="image-upload-wrap">
                                                    <input id="uploadInput" class="file-upload-input" name="Categories"
                                                        type='file'
                                                        onchange="readURL(this,<%= uploadAmount %>,<%= maxFileSize %>);"
                                                        accept="image/*" multiple required />
                                                    <div class="drag-text">

                                                        <h3><i class="file huge icon"></i> Déposez vos images ici!</h3>
                                                    </div>
                                                </div>
                                                <div class="file-upload-content">
                                                    <% for(let i=0;i<uploadAmount;i++){ %>
                                                    <img class="ui rounded  bordered left floated mini image file-upload-image  <%= i %> dynamicImage ZoomImage miniImage"
                                                        src="#" alt="" style="width:40px;height:40px" />


                                                    <% } %>

                                                    <div class="image-title-wrap">
                                                        <div onclick="removeUpload()" class="ui red  inverted  button">
                                                            <span class="image-title "><span></span><i
                                                                    class="trash icon"></i></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <table>
                            <tr>
                                <td colspan="3">
                                    <div class="field" style="text-align: center"> <button type="submit"
                                            class="ui teal labeled submit icon button formloading" id="deposerform"><i
                                                class="icon edit" hidden></i>Envoyer</button></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ui error message" id="deposererror"></div>

</form>


<script>
    $(document).ready(function () {

        $('.formloading').click(function () {

            if ($('#depfor').form('is valid')) {
                $('#depfor').addClass('loading')
            }
            else {
                $('#depfor').removeClass('loading')
            }


        })
    })
</script>