<form class="ui form asd iform hiddeniformdiv" action="/Inscription" method="POST">
    <h1 class="head hidehead"><i class="users teal icon"></i>Rejoignez nous... </h1>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">


    <div class="two fields">
        <div class="field">
            <label class="whiteclasstitle" for="NomUitilisateur"> <i class="user teal icon"></i>Nom
                d'utilisateur</label>
            <% if(locals.formdata && locals.formdata.NomUitilisateur && locals.flash.code!="nUdejaSoumis"){ %>

            <input class="readOl" name="NomUitilisateur" id="NomUitilisateur"
                value="<%= locals.formdata.NomUitilisateur %>" maxlength="20" minlength="4"></input>
            <% }else{ %>

            <input class="readOl" name="NomUitilisateur" id="NomUitilisateur" maxlength="20" minlength="4"></input>
            <% } %>
        </div>
        <div class="field">
            <label class="whiteclasstitle" for="Nom"><i class="address card teal icon"></i> Nom</label>
            <% if(locals.formdata && locals.formdata.Nom){ %>
            <input class="readOl" name="Nom" id="Nom" value="<%= locals.formdata.Nom %>" maxlength="35"
                minlength="2"></input>
            <% }else{ %>
            <input class="readOl" name="Nom" id="Nom" maxlength="35" minlength="2"></input>
            <% } %>

        </div>
    </div>
    <div class="two fields">
        <div class="field">

            <label class="whiteclasstitle" for="Prenom"><i class="address card outline teal icon"></i>
                Prenom</label>
            <% if(locals.formdata && locals.formdata.Prenom ){ %>
            <input class="readOl" name="Prenom" id="Prenom" value="<%= locals.formdata.Prenom %>" maxlength="35"
                minlength="2"></input>
            <% }else{ %>
            <input class="readOl" name="Prenom" id="Prenom" maxlength="35" minlength="2"></input>
            <% } %>
        </div>
        <div class="field">

            <label class="whiteclasstitle" for="Email"><i class="envelope open outline teal icon"></i>Email</label>
            <% if(locals.formdata && locals.formdata.Email && locals.flash.code!="eDejaSoumis"){ %>
            <input class="readOl" name="Email" id="Email" value="<%= locals.formdata.Email %>" maxlength="50"></input>
            <% }else{ %>
            <input class="readOl" name="Email" id="Email" maxlength="50"></input>
            <% } %>
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label class="whiteclasstitle" for="MotDePasse"><i class="key icon teal"></i> Mot de passe</label>
            <% if(locals.formdata && locals.formdata.MotDePasse ){ %>
            <input class="changer" name="MotDePasse" id="MotDePasse" type="password"
                value="<%= locals.formdata.MotDePasse %>" maxlength="40" autocomplete="off"></input>
            <% }else{ %>
            <input class="changer" name="MotDePasse" id="MotDePasse" type="password" maxlength="40"
                autocomplete="off"></input>
            <% } %>
        </div>
        <div class="field">
            <label class="whiteclasstitle" for="MotDePasse"><i class="keyboard outline teal icon"></i> Verification
                mot
                de passe</label>
            <input name="VerificationMotDePasse" id="VerificationMotDePasse" type="password" maxlength="40"
                autocomplete="off"></input>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label class="whiteclasstitle" for=" Adresse"><i class="address card teal icon"></i> Adresse</label>
            <% if(locals.formdata && locals.formdata.Adresse ){ %>
            <input class="changer" name="Adresse" id="Adresse" value="<%= locals.formdata.Adresse %>" maxlength="400"
                minlength="4"></input>
            <% }else{ %>
            <input class="changer" name="Adresse" id="Adresse" maxlength="400" minlength="4"></input>
            <% } %>
        </div>
        <div class="field">
            <label class="whiteclasstitle"><i class="globe teal icon"></i> Pays</label>
            <div class="ui fluid selection dropdown">
                <% if(locals.formdata &&locals.formdata.Pays  ){ %>
                <input class="changer" type="hidden" name="Pays" id="Pays" value="<%= locals.formdata.Pays %>">
                <% }else{ %>
                <input class="changer" type="hidden" name="Pays" id="Pays">
                <% } %>
                <% if(locals.formdata &&locals.formdata.Pays  ){ %>
                <div class="default text  " style="color:black" id="PaysTexte"><%= locals.formdata.Pays  %></div>
                <% }else{ %>
                <div class="default text" style="color:black">-</div>
                <% } %>
                <i class="dropdown icon"></i>
                <div class="inverted menu">
                    <div id="PaysValue" class="item" data-value="France">France</div>

                </div>
            </div>
        </div>

    </div>
    <div class="two fields">
        <div class="field unhide" hidden>
            <label class="whiteclasstitle" for="Ville"><i class="chess rook teal icon"></i> Ville</label>
            <% if(locals.formdata &&locals.formdata.Ville && locals.flash.code!="villeIntrouvable" ){ %>
            <input class="showsend changer" type="text" name="Ville" id="Ville"
                value="<%= locals.formdata.Ville %>"></input>
            <% }else{ %>
            <input class="showsend changer" type="text" name="Ville" id="Ville"></input>
            <% } %>
        </div>
        <div class="field unhide" hidden>
            <label class="whiteclasstitle" for="CodePostal"><i class="address card outline teal icon"></i> Code
                Postal</label>
            <% if(locals.formdata &&locals.formdata.CodePostal  && locals.flash.code!="villeIntrouvable" ){ %>
            <input class="showsend changer" name="CodePostal" id="CodePostal" value="<%= locals.formdata.CodePostal %>"
                maxlength="5"></input>
            <% }else{ %>
            <input class="showsend changer" name="CodePostal" id="CodePostal" maxlength="5"></input>
            <% } %>
        </div>
    </div>
    <div id="updformcontrol">
        <button id="inscriptionSubmit" class="ui teal labeled submit icon button formloading "><i class="icon edit"
                hidden></i>Envoyer</button></div>
    <div class="ui error message" id="iformerror"></div>


</form>
<script>
    var target = document.querySelector('#iformerror')
    var observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutation) {
            $('.ui.form').removeClass('loading')
        });
    });
    var config = { attributes: true, childList: true, characterData: true }
    observer.observe(target, config);

</script>