<% include header %>

<% include components/annoncemodal %>

<%- include('components/modifmodal',{csrfToken:csrfToken}) %>
<div class="asd" style="padding-bottom:20em">
  <div class="ui inverted  asd "
    style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">


    <div class="ui inverted " style="max-width:620px;"
      style="border-radius: 0!important; border: 0; margin-left: 260px;padding-bottom:5%; -webkit-transition-duration: 0.1s;">
      </i>
      <h1> <i class="user  teal icon"></i>Espace Membre</h1>
      <div class="ui top   attached tabular menu">
        <a class="item active toggler2 "><i class="list alternate outline icon"></i>
          <span style="color:rgb(36, 161, 161);">Annonces</span>

        </a>
        <a class="item toggler1"><i class="address card icon"></i>
          <span style="color:rgb(36, 161, 161);">Infos</span>

        </a>



      </div>
      <div class="ui bottom attached segment ">
        <div class="togglerClass1" hidden>
          <h3> <i class="ui pencil alternate teal icon"></i> Vos coordonnées...</h3>
          <table class="ui   table">

            <tbody>
              <tr class="fontWeight">
                <td><i class="address card teal icon"></i><span>Nom</span> </td>
                <td><%= user.Nom %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="address card outline teal icon"></i> Prenom</td>
                <td> <%= user.Prenom %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="envelope open outline teal icon"></i></i> Email</td>
                <td> <%= user.Email %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="user teal icon"></i> Nom d'utilisateur</td>
                <td> <%= user.NomUitilisateur %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="address card teal icon"></i></i> Adresse</td>
                <td> <%= user.Adresse %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="address card outline teal icon"></i> Code Postal</td>
                <td><%= user.CodePostal %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="chess rook teal icon"></i></i>Ville</td>
                <td><%= user.Ville %></td>

              </tr>
              <tr class="fontWeight">
                <td><i class="globe teal icon"></i> Pays</td>
                <td><%= user.Pays %></td>

              </tr>
            </tbody>
          </table>

          <div class="item">
            <div class="content">
              <p></p>
              <div class="ui right  teal  button modifUserData"><i class=" edit  icon"></i>Modifier</div>
             
            </div>
          </div>
        </div>
        <div class="ui divided demo items togglerClass2">
          <h3><i class="ui teal wpforms icon"></i>Vos annonces...</h3>
          <div class="ui   styled fluid  accordion" style="background-color:rgba(223, 215, 215,0.15); ">
            <% if(annonces[0])  { %>
            <div id="selection" data-selection="" data-user="<%= annonces[0].User_Id %>" hidden></div>
            <% let slideCounter=0 %>
            <%  for(let index = 0; index < annonces.length; index++) {   %>
            <div class="ui form espacemembre">
              <div class="ui items" id="annonce<%= annonces[index]._id %>">
                <div class=" title">
                  <i class="dropdown icon"></i>
                  <% let DateTimeVariable= new Date( annonces[index].DatePublication ) %>
                  <span class="hlink"> <%= annonces[index].Titre %></span>
                  <i class="ui calendar alternate teal icon"></i> <span style="color:teal;">
                <div hidden> 
                 
                   <% let month=DateTimeVariable.getMonth(); %>
                  <%= month=month+1 %>
                  
                </div>  
                    <%= DateTimeVariable.getDate() +' / '+month+' / '+DateTimeVariable.getFullYear() %>
                    <span>&nbsp<i class="ui clock teal icon"></i></span>
                    <%= DateTimeVariable.getHours()+' : '+DateTimeVariable.getMinutes()+' : '+DateTimeVariable.getSeconds() %>
                  </span>

                </div>
                <div class="content">
                  <div class="item ">

                    <div class="image centered" style="min-height:60px;max-height:150px ;overflow-y: auto; ">

                      <!-- Full-width images with number and caption text -->


                      <div style="margin-right:5%;">


                        <% for(let index3 = 0; index3 < annonces[index].UserImages.length; index3++) { slideCounter++ 
                        let paddingImg=''; if(index3==0){paddingImg='padding:5px;'} %>
                        <div style="margin:1%;"> <span id="<%= 'miniatureImg' + index + index3 %>"> <img
                              id="masterImg<%= index  %>"
                              class="ui tiny bordered rounded centered left floated mini image ZoomImage miniImage"
                              style="width:50px;height:50px;"
                              src=" <%= '/pregistered/' + annonces[index].User_Id+'/' + annonces[index]._id +'/'+ annonces[index].UserImages[index3] %> "
                              onerror="this.src=imgError(this)"> </span></div>
                        <% } %>

                      </div>

                    </div>
                    <% include components/userdetails %>
                    <div class="field">
                      <div class="ui left floated  teal  button memberbuttons"
                        onclick="window.location.href='/modifier/annonceid'"><i class=" edit  icon"
                          data-idannonce="<%= annonces[index]._id  %>"></i></div>
                      <div data-idannonce="<%= annonces[index]._id %>"
                        class="ui left floated  red  button modalshow memberbuttons"><i class=" delete  icon"></i>

                      </div>
                    </div>
                    <div class="field">
                      <label>Texte d'annonce</label>
                      <textarea readonly="">       <%= annonces[index].Texte %></textarea>

                    </div>
                  
                  </div>
                </div>
              </div>
            </div>


            <% } %>
            <% } %>


          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</div>


<script>
  $(document).ready(function () {

    $('.miniatureImg').click(function () {
      $('#masterImg' + $(this).attr('data-masterRef')).attr('src', $(this).attr('src'))
      $('.miniatureImg.' + $(this).attr('data-masterRef')).css('padding', '0px')
      $(this).css('padding', '5px')
    })
  })
</script>
<% include footer %>