<% include header %>

<script src="assets/formValidation/formValidation.js"></script>
<div class="ui inverted  asd "
    style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">

    <% if(locals.flash==undefined ||locals.flash.code!="SuccessCode"){ %>



    <form class="ui form asd" action="/Inscription" method="POST">
        <h1 class="head"><i class="users teal icon"></i>Rejoignez nous... </h1>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="two fields">
            <div class="field">
                <label for="NomUitilisateur"> <i class="user teal icon"></i>Nom d'utilisateur</label>
                <% if(locals.formdata && locals.formdata.NomUitilisateur && locals.flash.code!="nUdejaSoumis"){ %>

                <input name="NomUitilisateur" id="NomUitilisateur" value="<%= locals.formdata.NomUitilisateur %>"
                    maxlength="20" minlength="4"></input>
                <% }else{ %>

                <input name="NomUitilisateur" id="NomUitilisateur" maxlength="20" minlength="4"></input>
                <% } %>
            </div>
            <div class="field">
                <label for="Nom"><i class="address card teal icon"></i> Nom</label>
                <% if(locals.formdata && locals.formdata.Nom){ %>
                <input name="Nom" id="Nom" value="<%= locals.formdata.Nom %>" maxlength="35" minlength="2"></input>
                <% }else{ %>
                <input name="Nom" id="Nom" maxlength="35" minlength="2"></input>
                <% } %>

            </div>
        </div>
        <div class="two fields">
            <div class="field">

                <label for="Prenom"><i class="address card outline teal icon"></i> Prenom</label>
                <% if(locals.formdata && locals.formdata.Prenom ){ %>
                <input name="Prenom" id="Prenom" value="<%= locals.formdata.Prenom %>" maxlength="35"
                    minlength="2"></input>
                <% }else{ %>
                <input name="Prenom" id="Prenom" maxlength="35" minlength="2"></input>
                <% } %>
            </div>
            <div class="field">

                <label for="Email"><i class="envelope open outline teal icon"></i>Email</label>
                <% if(locals.formdata && locals.formdata.Email && locals.flash.code!="eDejaSoumis"){ %>
                <input name="Email" id="Email" value="<%= locals.formdata.Email %>" maxlength="50"></input>
                <% }else{ %>
                <input name="Email" id="Email" maxlength="50"></input>
                <% } %>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="MotDePasse"><i class="key icon teal"></i> Mot de passe</label>
                <% if(locals.formdata && locals.formdata.MotDePasse ){ %>
                <input name="MotDePasse" id="MotDePasse" type="password" value="<%= locals.formdata.MotDePasse %>"
                    maxlength="40"></input>
                <% }else{ %>
                <input name="MotDePasse" id="MotDePasse" type="password" maxlength="40"></input>
                <% } %>
            </div>
            <div class="field">
                <label for="MotDePasse"><i class="keyboard outline teal icon"></i> Verification mot de passe</label>
                <input name="VerificationMotDePasse" id="VerificationMotDePasse" type="password" maxlength="40"></input>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for=" Adresse"><i class="address card teal icon"></i> Adresse</label>
                <% if(locals.formdata && locals.formdata.Adresse ){ %>
                <input name="Adresse" id="Adresse" value="<%= locals.formdata.Adresse %>" maxlength="400"
                    minlength="4"></input>
                <% }else{ %>
                <input name="Adresse" id="Adresse" maxlength="400" minlength="4"></input>
                <% } %>
            </div>
            <div class="field">
                <label><i class="globe teal icon"></i> Pays</label>
                <div class="ui fluid selection dropdown">
                    <% if(locals.formdata &&locals.formdata.Pays  ){ %>
                    <input type="hidden" name="Pays" id="Pays" value="<%= locals.formdata.Pays %>">
                    <% }else{ %>
                    <input type="hidden" name="Pays" id="Pays">
                    <% } %>
                    <% if(locals.formdata &&locals.formdata.Pays  ){ %>
                    <div class="default text  " style="color:black" id="PaysTexte"><%= locals.formdata.Pays  %></div>
                    <% }else{ %>
                    <div class="default text" style="color:black" >-</div>
                    <% } %>
                    <i class="dropdown icon"></i>
                    <div class="inverted menu">
                        <div id="PaysValue" class="item" data-value="France">France</div>

                    </div>
                </div>
            </div>

        </div>
        <div class="two fields">
            <div class="field unhide" hidden>
                <label for="Ville"><i class="chess rook teal icon"></i> Ville</label>
                <% if(locals.formdata &&locals.formdata.Ville && locals.flash.code!="villeIntrouvable" ){ %>
                <input type="text" name="Ville" id="Ville" value="<%= locals.formdata.Ville %>"></input>
                <% }else{ %>
                <input type="text" name="Ville" id="Ville"></input>
                <% } %>
            </div>
            <div class="field unhide" hidden>
                <label for="CodePostal"><i class="address card outline teal icon"></i> Code Postal</label>
                <% if(locals.formdata &&locals.formdata.CodePostal  && locals.flash.code!="villeIntrouvable" ){ %>
                <input name="CodePostal" id="CodePostal" value="<%= locals.formdata.CodePostal %>"
                    maxlength="5"></input>
                <% }else{ %>
                <input name="CodePostal" id="CodePostal" maxlength="5"></input>
                <% } %>
            </div>
        </div>

        <button type="submit" class="ui teal labeled submit icon button formloading"><i class="icon edit"></i>Envoyer</button>
        <div class="ui error message"></div>
    </form>

    <% } %>
</div>


<% include footer %>